:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 1 auto;
  padding: 20px 0;
}

footer {
  text-align: center;
  background-color: #212529;
  color: #fff;
  padding: 10px 0;
}
